:root {
    --white-color: #f5f5f5;
    --background-color: #171515; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333;
    font-family: 'Montserrat';
}

html, body {
    height: auto; 
    min-height: 100vh;
}

html {
    background: var(--background-color) ;
}

input:focus {
    outline: none;
    color: var(--white-color);
}

::placeholder {
    color: #c0c0c0;
    padding: 0.3em;
}

#register_container {
    max-width: 900px;
    min-height: 80vh;
    margin: 2rem auto;
    display: flex;

    border: 3px double  var(--white-color);

}

#register_banner {
    background: url(../img/bg-form.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}


#banner_layer {
    background-color: rgb(0, 0, 0, 0.6);
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
}

#register_banner h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: var(--white-color);
    word-spacing: 50rem;
}

#register_form {
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#register_form h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--white-color);
}

#register_form p {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--white-color);
    font-size: 0.8rem;
}

.form_control {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form_control label {
    font-weight: bold;
    margin-bottom: .6rem;
    color: var(--white-color);
}

.form_control input {
    border: none;
    padding: 0.5em;
    background-color:#363636;
    color: var(--white-color);
    border-radius: 5px;
}

#generate_password {
    font-weight: bold;
    cursor: poiter;
    transition: .4s;
    cursor: pointer;
    color: #81d340;
}

#generate_password:hover {
    color: #0099ff;
}

#register_form #generated_password {
    border: 1px solid #0099ff;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .4rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
    display: none;
}

#register_form #generated_password p {
    color: #81d340;
    margin-bottom: 0.5rem;
}

#register_form input[type="submit"] {
    background-color: #81d340;
    opacity: .8;
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.4rem;
    max-width: 150px;
    cursor: pointer;
    align-self: flex-end;
    transition: 0.4s;
    color: var(--white-color);
}

#register_form input[type="submit"]:hover {
    opacity: 1;
    transition: 0.4s;
}